body {
  margin: 0;
  font-family:'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: linear-gradient(180deg, rgba(2,29,36,1) 0%, rgba(31,29,63,1) 2%);
  background-repeat: no-repeat;
  background-color: #1f1d3f;
  font-size: calc(10px + 2vmin);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
